spring:
  application:
    name: auth-service

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQLDialect

  config:
    import:
      - aws-secretsmanager:micro-ecommerce/auth/db-configuration
      - aws-secretsmanager:micro-ecommerce/auth/jwt

jwt:
  secret: ${jwtSecret}
  expiration: ${accessTokenExpiry}
  expiration-refresh: ${refreshTokenExpiry}
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never
server:
  port: 8080
